<!DOCTYPE html>
<html lang="en">
<head><%- include('../content/head') %> </head>
<body>
    <span class="title">Bingus Hub</span>
    <input type="text" class="search-input" />
    <button class="search-button"><i class="bi bi-search"></i> Search</button>
</body>
</html>